# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
BunnyHop
lib
mlib
bin
Actions/open_jtalk
App/Log
App/Compiled
App/BhExecEnvLog
App/Actions/open_jtalk
App/net.seapanda.bunnyhop.jar
App/BhProgramExecEnvironment.jar
