.voidFuncType {
	-fx-fill: linear-gradient(from 0em 0em to 0.1em 0.1em, repeat, voidFuncTypeCol 50%, derive(voidFuncTypeCol, 30%) 0em);
}

.voidFuncType:isEven {
	-fx-fill: voidFuncTypeCol;
}

.voidFuncDefType {
	-fx-fill: linear-gradient(from 0em 0em to 0em 3.2em, voidFuncTypeCol 99%, #f0f0f0 0em);
}
