
.BhNode {
  -fx-stroke: black;
  -fx-stroke-width: 0.15em;
  -fx-stroke-type: inside;
}

.BhNode:selected {
  -fx-stroke: gold;
}

.BhNode:highlightDerivative {
  -fx-stroke: gold;
  -fx-effect: dropshadow( two-pass-box , #606060 , 10, 0.3, 6 , 6);
}

.BhNode-Pane:highlightDerivative {}

.BhNode:overlapped {
  -fx-stroke: magenta;
}

.BhNode-CompileError {
  -fx-stroke-width: 0.30em;
  -fx-stroke: red;
}

#nodeViewShadowPane {
  -fx-effect: dropshadow( two-pass-box , #606060 , 10, 0.3, 6 , 6);
}

