
.BhNode {
  -fx-stroke: black;
  -fx-stroke-width: 0.15em;
  -fx-stroke-type: inside;
}

.numType:unfixedDefault,
.strType:unfixedDefault,
.boolType:unfixedDefault,
.soundType:unfixedDefault,
.colorType:unfixedDefault,
.numVarType:unfixedDefault,
.strVarType:unfixedDefault,
.boolVarType:unfixedDefault,
.soundVarType:unfixedDefault,
.colorVarType:unfixedDefault {
  -fx-stroke: white;
}

.BhNode:relatedNodeGroup {
  -fx-stroke: linear-gradient(from 0mm 0mm to 3mm 3mm, repeat, black 50%, yellow 0mm);
  -fx-stroke-width: 0.35em;
  -fx-stroke-type: centered;
}

.BhNode:selected {
  -fx-stroke: gold;
  -fx-stroke-width: 0.15em;
  -fx-stroke-type: inside;
}

.BhNode:execStep {
  -fx-stroke: linear-gradient(from 0mm 0mm to 3mm 3mm, repeat, black 50%, yellow 0mm);
  -fx-stroke-width: 0.35em;
  -fx-stroke-type: centered;
  -fx-effect: dropshadow(two-pass-box , #606060D0, 10, 0.3, 0.5em, -0.5em);
}

.BhNode:moveGroup {
  -fx-effect: dropshadow(two-pass-box , #606060D0, 10, 0.3, 0.5em, 0.5em);
}

.BhNode:overlapped {
  -fx-stroke: magenta;
  -fx-stroke-width: 0.15em;
  -fx-stroke-type: inside;
}

.BhNode:jumpTarget {
  -fx-stroke: linear-gradient(from 0mm 0mm to 3mm 3mm, repeat, black 50%, yellow 0mm);
  -fx-stroke-width: 0.35em;
  -fx-stroke-type: centered;
}

.defaultCommonPart {
  -fx-alignment: center;
  -fx-spacing: 0.4em;
}

.defaultCommonPart:row {
  -fx-padding: 0.0em 0.5em 0.0em 0.0em;
}

.defaultCommonPart:column {
  -fx-padding: 0.0em 0.0em 0.5em 0.0em;
}
