.boolType {
  -fx-fill: linear-gradient(from 0mm 0mm to 1.2mm 1.2mm, repeat, boolTypeCol 50%, derive(boolTypeCol, 50%) 0mm);
}

.boolType:isEven {
  -fx-fill: boolTypeCol;
}

.boolVarType {
  -fx-fill: linear-gradient(from 0mm 0mm to 1.2mm 1.2mm, repeat, boolTypeCol 50%, derive(boolTypeCol, 50%) 0mm);
}

.boolVarType:isEven {
  -fx-fill: boolTypeCol;
}
