.colorType {
  -fx-fill: linear-gradient(from 0em 0em to 0.1em 0.1em, repeat, colorTypeCol 50%, derive(colorTypeCol, 35%) 0em);
}

.colorType:isEven {
  -fx-fill: colorTypeCol;
}

.colorVarType {
  -fx-fill: linear-gradient(from 0em 0em to 0.1em 0.1em, repeat, colorTypeCol 50%, derive(colorTypeCol, 35%) 0em);
}

.colorVarType:isEven {
  -fx-fill: colorTypeCol;
}
