.root {

  numTypeCol: hsb(200 , 60%, 95%);
  strTypeCol: hsb(317 , 70%, 95%);
  boolTypeCol: hsb(125 , 70%, 87%);
  soundTypeCol: hsb(18 , 80%, 100%);
  colorTypeCol: hsb(240 , 80%, 95%);

  controlTypeCol0: hsb(29, 20%, 95%);
  controlTypeCol1: hsb(17, 29%, 100%);
  voidFuncTypeCol: hsb(18, 44%, 48%);
  actionTypeCol: hsb(165 , 100%, 43%);
  concurrentTypeCol: hsb(329 , 100%, 78%);

  voidTypeCol: hsb(0, 0%, 95%);
  anyTypeCol: hsb(240, 8%, 85%);
  miscTypeCol: hsb(0, 0%, 15%);
  errorTypeCol: hsb(60, 100%, 100%);
}
