.strType {
	-fx-fill: linear-gradient(from 0em 0em to 0.1em 0.1em, repeat, strTypeCol 50%, derive(strTypeCol, 60%) 0em);
}

.strType:isEven {
	-fx-fill: strTypeCol;
}

.strVarType {
	-fx-fill: linear-gradient(from 0em 0em to 0.1em 0.1em, repeat, strTypeCol 50%, derive(strTypeCol, 60%) 0em);
}

.strVarType:isEven {
	-fx-fill: strTypeCol;
}
