#csViewName {
  -fx-font-weight: bold;
}

#viViewName {
  -fx-font-weight: bold;
}

#threadStateText {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
  -fx-padding: 0.25em 0.0em 0.0em 0.0em;
  -fx-fill: black;
  -fx-underline: false;
}

#threadStateText:error {
  -fx-fill: rgb(0, 119, 255);
  -fx-underline: true;
}

.callStackItem {
  -fx-underline: false;
}

.callStackItem:textDecorate {
  -fx-underline: true;
}

.callStackItem:error {
  -fx-border-style: segments(0.4em, 0.4em);
  -fx-border-width: 0.25em;
  -fx-border-color: #ff7878;
}

.callStackItem:next {
  -fx-border-style: segments(0.4em, 0.4em);
  -fx-border-width: 0.25em;
  -fx-border-color: #2af12a;
}

.variableListItem {
  -fx-underline: false;
}

.variableListItem:textDecorate {
  -fx-underline: true;
}

#bhRuntimeErrMsg {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
  -fx-border-color: orange;
}

#wsComboBox {
  -fx-max-width: 32em;
}

#csHbox {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";  
  -fx-alignment: center-left;
  -fx-padding: 0.2em;
  -fx-spacing: 1.8em;
}

#viHbox {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
  -fx-alignment: center-left;
  -fx-padding: 0.2em;
  -fx-spacing: 1.8em;
}

#debugWindowBase {
  -fx-spacing: 0.5em;
  -fx-padding: 0.5em;
  -fx-alignment: center;
  -fx-border-color: black;
}

#stepExecutionViewBase {
  -fx-alignment: center;
}

.stepExecutionHbox {
  -fx-alignment: center;
}
