#menuPanelBase {
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

#menuPanelUpper {
  -fx-hgap: 0.2em;
  -fx-padding: 0.0em 0.0em 0.1em 0.5em;
}

#menuPanelLower {
  -fx-hgap: 0.5em;
  -fx-padding: 0.0em 0.0em 0.3em 0.5em;
}

#menuPanelLower * {
  -fx-prompt-text-fill: #909090;
}

#hostNameTextField {
  -fx-pref-width: 11em;
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

#unameTextField {
  -fx-pref-width: 11em;
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

#passwordTextField {
  -fx-pref-width: 15em;
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

.loginInfoLabel {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
}


#stdInTextField {
  -fx-pref-width: 18em;
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

.menuPanelSeparator {
  -fx-padding: 0 0.2em 0 0.2em;
}
