#nodeCategoryListViewBase {
  -fx-max-width: 26em;
  -fx-pref-width: 12em;
}

#categoryTree .tree-cell{
  -fx-font-size: 1.25em;
  -fx-font-family: "Meiryo UI";
  -fx-text-fill: #000000;
}

#categoryTree .tree-cell:selected {
  -fx-border-color: yellow;
  -fx-border-width: 0.2em;
}

#categoryTree .tree-cell:empty {
  -fx-background: white;
}

/*----------------------action--------------------*/
#categoryTree .action {
  -fx-background: derive(actionTypeCol, 0%);
  -fx-border-color: black;
  -fx-text-fill: white;
}

#categoryTree .action:hover {
  -fx-background: derive(actionTypeCol, 50% );
}

/*-----------------------num----------------------*/

#categoryTree .numOpe {
  -fx-background: derive(numTypeCol, 0% );
  -fx-border-color: black;
}

#categoryTree .numOpe:hover {
  -fx-background: derive(numTypeCol, 50% );
}

/*------------------------str---------------------*/

#categoryTree .strOpe {
  -fx-background: derive(strTypeCol, 0% );
  -fx-border-color: black;
}

#categoryTree .strOpe:hover {
  -fx-background: derive(strTypeCol, 50% );
}

/*------------------------bool---------------------*/

#categoryTree .boolOpe {
  -fx-background: derive(boolTypeCol, 0% );
  -fx-border-color: black;
}

#categoryTree .boolOpe:hover {
  -fx-background: derive(boolTypeCol, 50% );
}

/*-----------------------sound---------------------*/

#categoryTree .soundOpe {
  -fx-background: derive(soundTypeCol, 0% );
  -fx-border-color: black;
  -fx-text-fill: black;
}

#categoryTree .soundOpe:hover {
  -fx-background: derive(soundTypeCol, 50% );
}

/*-----------------------color---------------------*/

#categoryTree .colorOpe {
  -fx-background: derive(colorTypeCol, 0% );
  -fx-border-color: black;
  -fx-text-fill: white;
}

#categoryTree .colorOpe:hover {
  -fx-background: derive(colorTypeCol, 50% );
}

/*--------------------control----------------------*/

#categoryTree .control {
  -fx-background: derive(controlTypeCol0, 0% );
  -fx-border-color: black;
}

#categoryTree .control:hover {
  -fx-background: derive(controlTypeCol1, 50% );
}

/*--------------------funcDef----------------------*/

#categoryTree .funcDef {
  -fx-background: derive(voidFuncTypeCol, 0% );
  -fx-border-color: black;
  -fx-text-fill: white;
}

#categoryTree .funcDef:hover {
  -fx-background: derive(voidFuncTypeCol, 50% );
}

/*-------------------var and list ---------------*/

#categoryTree .varAndList {
  -fx-background: linear-gradient(to right, #FF7070, #70FF70, #7070FF);
  -fx-border-color: black;
}

#categoryTree .varAndList:hover {
  -fx-background: linear-gradient(to right, #FFA0A0, #A0FFA0, #A0A0FF);
}

/*------------------- concurrent ---------------*/
#categoryTree .event {
  -fx-background: derive(concurrentTypeCol, 0%);
  -fx-border-color: black;
  -fx-text-fill: white;
}

#categoryTree .event:hover {
  -fx-background: derive(concurrentTypeCol, 50%);
}

/*------------------- misc ---------------*/
#categoryTree .misc {
  -fx-background: derive(miscTypeCol, 0%);
  -fx-border-color: black;
  -fx-text-fill: white;
}

#categoryTree .misc:hover {
  -fx-background: derive(miscTypeCol, 50%);
}


