#searchBoxViewBase {
  -fx-padding: 0.4em 0.4em 0.4em 0.4em;
  -fx-background-color: #bdbdbd;
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
  -fx-alignment: center-left;
}

#searchBoxCloseButton {
  -fx-text-fill: red;
}

#regexButton {
  -fx-padding: 0.2em 0.1em 0.2em 0.1em;
}

#caseSensitiveButton {
  -fx-padding: 0.2em 0.1em 0.2em 0.1em;
}

#searchWordField {
  -fx-min-width: 12em;
  -fx-max-width: 60em;
}

#searchResultLabel {
  -fx-font-size: 1.1em;
  -fx-font-family: "Meiryo UI";
}

