#workspaceSetViewBase {
  -fx-alignment: top-left;
  -fx-min-height: 0em;
}

#workspaceSetTab .tab-label {
  -fx-font-family: "Meiryo UI";
  -fx-font-size: 1.1em;
}

#closedTrashCanIv {
  -fx-translate-x: -2em;
  -fx-translate-y: -2em;
}

#openedTrashCanIv {
  -fx-translate-x: -2em;
  -fx-translate-y: -2em;
}
